/* CSS Document */

p{
font-family: Verdana, sans-serif;
font-size: 11px;
color: #000000;
line-height: 15px;
padding: 3px;
}

.bold {
	font-family: Verdana, sans-serif;
	font-size: 11px;
	line-height: 15px;
	font-weight: bold;
	color: #990000;
}

.navigation{
	font-family: Verdana, sans-serif;
	font-size: 14px;
	font-style: normal;
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: none;
	background-color: #6699CC;
	display: block;
	padding: 8px;
	width: 220px;
	height: 15px;
}


.navigation:hover{
	font-family: Verdana, sans-serif;
	font-size: 14px;
	font-style: normal;
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: none;
	background-color: #66CCFF;
	display: block;
	padding: 8px;
	width: 220px;
	height: 15px;
}
